{ -smfr-header-sections: -smfr-type-definitions; }
{ -smfr-struct-bitfield-mode: -smfr-lsb-first; }
{ -smfr-struct-bitfield-union-mode: -smfr-union; }
{ -smfr-struct-bitfield-union-bitfields-identifier: "B"; }
{ -smfr-uint32-identifier: "R"; }
{ -smfr-type-identifier-suffix: "_t"; }
{ -smfr-pointer-type-prefix: ""; }
{ -smfr-type-modifier-style: none; }
