fcvt_ps_f16
!fcvt_ps_f16/
fcvt_ps_f11
!fcvt_ps_f11/
fcvt_ps_f10
!fcvt_ps_f10/
fcvt_s_w
!fcvt_s_w/
fcvt_s_wu
!fcvt_s_wu/
fcvt_ps_sn8
!fcvt_ps_sn8/
fcvt_ps_sn16
!fcvt_ps_sn16/
fcvt_ps_un2
!fcvt_ps_un2/
fcvt_ps_un8
!fcvt_ps_un8/
fcvt_ps_un10
!fcvt_ps_un10/
fcvt_ps_un16
!fcvt_ps_un16/
fcvt_ps_un24
!fcvt_ps_un24/
fcvt_ps_pw
!fcvt_ps_pw/
fcvt_ps_pwu
!fcvt_ps_pwu/
*.hex
*.mem
